
.header{
    width:580px;
    align-items: center;
    background-color: white;
    margin: 1px 5px 10px 15px;
    padding: 0px 2px 0px 50px;
    display: flex;
}
.icons{
    margin: 6px 6px 6px 24px;
    padding: 5px;
    padding-right: 60px;
    cursor: pointer;
}
