.post{
    width: 700px;
    padding-bottom:30px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;
    margin-bottom: 15px;
    margin-left: 1px;
    padding-left: 5px;
   
  }
  .post_header{
      display: flex;
      align-items: center;
      padding-top: 10px;
  }
  .post_avatar{
      margin-right: 5px;
      margin-left: 5px;
  }
  .post_img{
      width: 100%;
      padding-bottom: 5px;
      margin-top: 10px;
  }

  
  .post_text{
      font-weight: normal;
      padding: 2px; ;
  }

  .like_sheare_comment{
   display:inline;
   padding-right: 25px;
   cursor: pointer;
  }